{
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended", "prettier"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "require-await": "error",
    "prettier/prettier": ["error", { "printWidth": 110 }]
  }
}
