{
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "semi": false,
  "printWidth": 110,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "singleQuote": false,
        "printWidth": 130
      }
    }
  ]
}
